<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="image/cloud.ico">
    <title>Java</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/jumbotron.css" rel="stylesheet">
    <style>
        p{line-height:50px}
    </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Methodot</a>
        </div>
    </div>
</nav>
<div class="jumbotron">
    <div class="container">
        <h1 th:text="${msg}"></h1>
        <p th:text="${body}"></p>
        <p><a class="btn btn-primary btn-lg" target="view_window" role="button" th:href="${WebIDE}" th:text="${btncontent}"></a></p>
    </div>
</div>
</body>
<body>
<div class="container">
    <h1>帮助</h1>
    <p>点击上方的按钮将打开在线IDE，请修正错误的拼写！</p>
    <p>请在修改完成后，通过点击左边菜单栏的「源代码管理」提交、同步代码。</p>
    <img src="image/cloud.ico" width="500" height="380" alt="">
    <img src="image/cloud.ico" width="500" height="380" alt="">
    <p>同步代码完成后，请回到「应用工厂」，在「发布」界面中对已发布的应用进行版本升级。</p>
    <img src="image/cloud.ico" width="500" height="500" alt="">
    <p>选择架构图后进入应用发布界面，点击确认发布应用。</p>
    <p>待应用发布完成后，即可看到修改后的效果。</p>
</div>
</body>
</html>
